@import url('https://fonts.googleapis.com/css?family=Lato');

/*----------------------------*/
/* BASIC SETUP */
/*---------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

a {
    text-decoration: none;
    color: #fff;
}

h1 {
    color: #fff;
    font-size: 120%;
    margin-left: 15px;
}

h2 {
    font-size: 100%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.small-font {
    font-size: small;
}

/*----------------------------*/
/*REUSABLE COMPONENTS*/
/*---------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.search-vehicles {
    border-left: 1px solid #333;
}

/*----------------------------*/
/* HEADER */
/*---------------------------*/

.main-nav {
    position: sticky;
    display: flex;
    height: 60px;
    align-items: center;
    width: 100%;
    z-index: 1;
    top: 0;
    background: #333;
  }

.nav-links {
    display: flex;
    margin-left: auto;
}

.nav-links li {
    list-style-type: none;
    margin-right: 20px;
}

/*----------------------------*/
/* GRID COLUMN SETUP */
/*---------------------------*/

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		/*margin: 1% 0 1% 0%;*/
        margin: 0;
	}
}

.span-1-of-3 {
	width: 32.26%; 
}

.span-2-of-3 {
	width: 66.13%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-3-of-3 {
		width: 100%; 
	}
	.span-2-of-3 {
		width: 100%; 
	}
	.span-1-of-3 {
		width: 100%;
	}
}


/*----------------------------*/
/* FORM */
/*---------------------------*/

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
input[type=password] {
    width: 100%;
    height: 40px;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}


*:focus {outline: none;}

input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

input[type=submit]:hover,
 input[type=submit]:active {
    background-color: #cf6d17;
}

input[type=submit] {
    border: 1px solid #e67e22;
}

.row a {
    color: #555;
}

/*----------------------------*/
/* FOOTER */
/*---------------------------*/

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
    margin-top: 350px;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
} 

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
    transition: color 0.2s;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-twitter:hover {
    color: #00aced;
}

.fa-instagram:hover {
    color: #517fa4;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}
